name: Go CI

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Go Tests
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22' # Using a recent stable version compatible with your go.mod
        id: go

      - name: Check out code
        uses: actions/checkout@v4

      - name: Run tests
        run: go test -v ./...